@model IEnumerable<AssociationWebApp.Models.Association>

@{
    ViewData["Title"] = "Associações";
}

<h2>@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col-md-12">
        <ul class="list-inline pull-right">
            <li><a class="btn btn-success btn-sm create">Nova Associação</a></li>
        </ul>
    </div>
</div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <form class="navbar-form navbar-left font-color-white" asp-action="SearchAsync">
                <div class="form-group">
                    <label for="name">Associado</label>
                    <input name="namea" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="namec">Empresa</label>
                    <input name="namec" type="text" class="form-control">
                </div>
                <button type="submit" class="btn btn-default">Pesquisar</button>
            </form>
        </div>
    </div>
</nav>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Associated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Associated.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.Name)
                </td>
                <td>
                    <button class="btn btn-danger btn-sm delete" data-id="@item.AssociatedId">Apagar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="modal" class="modal fade" />

@section scripts{
    <script>
        $(function () {
            $(".delete").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("Associations/Delete?id=" + id, function () {
                    $("#modal").modal();
                })
            });

            $(".create").click(function () {
                $("#modal").load("Associations/Create", function () {
                    $("#modal").modal();
                })
            });

        })
    </script>
}
